@keyframes pie{
    from{
        transform: rotate(0turn);
    }
    to{transform: rotate(1turn);}
}
.mom{
    height: 600px;
    width: 600px;
    position: relative;
}
.main{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-color: green;
    overflow: hidden;
    animation: pie 5s infinite;
}
.main:hover{
    animation-play-state: paused;
}
.header{
    height: 100px;
    width: 100%;
}
.horUp{
    height: 100px;
    width: 200px;
    float: left;
    font-size: 3em;
    text-align: center;
}
.mid{
    height: 400px;
    width: 100%;
    float: left;
}
.mom img{
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    top: 100px;
    left: 100px;
}
.left{
    height: 400px;
    width: 200px;
    float: left;
}
.right{
    height: 400px;
    width: 200px;
    float: right;
}
.hor{
    height: 100px;
    width: 100%;
}